<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Angular 'n' Cookies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Angular 'n' cookies</h1>
					<h3>by: Ivo Parun Rua, Dario Diaz</h3>
				</section>

				<!-- start Agenda -->
				<section>
					<h2>Agenda</h2>
					<p>
						<p class="fragment"><a href="#/3">Fast JS</a></p>
						<ul>
							<li class="fragment">Javascript y sus trucos</li>
							<li class="fragment">JSON</li>
							<li class="fragment">Closure scopes</li>
						</ul>
						<p class="fragment"><a href="#/3">Angular</a></p>
						<ul>
							<li class="fragment">Expression y {{Brackets}}</li>
							<li class="fragment">Modules, services, y mas...</li>
							<li class="fragment">Scopes y scopes</li>
							<li class="fragment">MVC en angular</li>
							<li class="fragment">Angular Builts-in</li> <!-- Ivo -->
							<li class="fragment">DI y buenas practicas</li> <!-- Ivo -->
							<li class="fragment">Angular routing con ui-router</li> <!-- Ivo -->
							<li class="fragment">Estructura de carpetas</li> <!-- Ivo -->
						</ul>
					</p>
				</section>

				<section>
					<h2>Agenda</h2>
					<p>
						<p class="fragment"><a href="#/3">Ending</a></p>
						<ul>
							<li class="fragment">Angular y Jboss</li> <!-- Ivo -->
							<li class="fragment">Angular y Require JS</li> <!-- Ivo -->
							<li class="fragment">Sge-components</li>
							<li class="fragment">presentation.commit()</li>
						</ul>
					</p>
					<p>
						<a href="#/1/1">Agenda</a>
					</p>
				</section>
				<!-- end Agenda -->

				<!-- Fast JS -->
				<section>
					<section>
						<h2>Fast JS</h2>
						<ul>
							<li><a href="#/3/1">Javascript y sus trucos</a></li>
							<li><a href="#/4/1">JSON</a></li>
							<li><a href="#/5/1">Closure scopes</a></li>
						</ul>
					</section>

					<!-- Fast JS: JS and tricks -->

					<section>
						<h2>Javascript y sus trucos</h2>
						<p class="fragment">La variable poderosa</p>
						<p class="fragment">
							Una variable puede ser un valor, funcion, objeto, whatever
						</p>
						<p class="fragment">Los misterios de <span style="font-style: italic;">undefined</span></p>
						<p class="fragment">
							Cualquier valor que no exista se convierte en undefined
						</p>
						<p class="fragment">Dinamismo everywhere</p>
						<p class="fragment">
							Cualquier objeto es dinamico, esto es, pueden agregarse nuevas propiedades (atributos y/o metodos) sin que esten definidos previamente
						</p>
					</section>

					<section>
						<h2>La variable poderosa como funcion</h2>
						<pre><code class="fragment" data-trim contenteditable>
//Creamos una variable que guarde nuestra funcion
var soyUnaFuncion = function() {
	console.log('Js Rulez!');
};
//La llamamos
soyUnaFuncion();

//Puede recibir parametros
var soyUnaFuncionConParametros = function(nombre, apellido) {
	console.log('Hola' + nombre + ", " + apellido);
};
soyUnaFuncionConParametros("Dario", "Diaz");

					</code></pre>
					</section>

					<section>
						<h2>La variable poderosa como objeto</h2>
						<pre><code class="fragment" data-trim contenteditable>
//Creamos una variable que guarde nuestra funcion constructora
var soyUnConstructor = function(nombre, apellido, miEdad) {
	this.nombre = nombre;
	this.apellido = apellido;
	this.edad = miEdad;
	this.mostrarDatos = function(variableInterna) {
		return this.nombre + " - " + this.apellido + " - " + variableInterna;
	};
};
//Creamos un objeto
var objeto = new soyUnConstructor("Dario", "Diaz", 23);
//Lo usamos como cualquier objeto
console.log(objeto.nombre);
console.log(objeto.mostrarDatos());
					</code></pre>
					</section>

					<!-- Lo misterios de undefined -->

					<section>
						<h2>Los misterios de <span style="font-style: italic;">undefined</span></h2>
						<pre><code class="fragment" data-trim contenteditable>
//Creamos una function con 3 parametros
var miFuncion = function(param1, param2, param3) {
	console.log('Parametro 1: ', param1);
	console.log('Parametro 2: ', param2);
	console.log('Parametro 3: ', param3);
};
//La llamamos con un parametro de menos
miFuncion("Hola", "Mundo");
					</code></pre>
					</section>

					<!-- end Los misterios de undefined -->

					<!-- Dinamismo everywhere -->

					<section>
						<h2>Dinamismo everywhere</h2>
						<pre><code class="fragment" data-trim contenteditable>
//Creamos un objeto por cualquier forma
var miConstructor = function(param1, param2) {
	this.nombre = param1;
	this.apellido = param2;
};
//Creamos un objeto
var miObj = {};
var miObj2 = new Object();
var objeto = new miConstructor("Dario", "Diaz");
objeto.otraPropiedad = 3;
miObj.valorBooleano = true;
miObj2.metodo = function(parametro) {
	console.log("Funcion de miObj2:" , parametro + 1);
};
					</code></pre>
					</section>

					<!-- end Dinamismo everywhere -->

					<!-- end Fast JS: JS and tricks -->
				</section>

				<!-- Fast JS: JSON -->
				<section>
					<section>
						<h2>JSON (JavaScript Object Notation)</h2>
						<p class="fragment">Es una forma de describir objetos en JS</p>
						<p class="fragment">Un JSON puede solo tener atributos (ya sean valores, otros objetos, arrays, etc)</p>
						<p class="fragment">La caracteristica fundamental de un JSON es que se puede escribir (materializar) y leer (desmaterializar) como un String</p>

					</section>

					<section>
						<h2>JSON | Ejemplo simple</h2>
						<pre><code data-trim contenteditable>
{
"propiedad": "valor",
"otraPropiedad": 3
}
						</code></pre>

						<h2 class="fragment">JSON | Ejemplo completo</h2>
						<pre><code class="fragment" code data-trim contenteditable>
{
"propiedad": "valor",
"otraPropiedad": 3,
"array": ["elemento1", "elemento2"],
"objeto": { "idem": true, "idem2": 345 }
}
						</code></pre>
					</section>

					<section>
						<h2>Conviertiendo objetos en JSON & viceversa</h2>
						<p class="fragment">JS nos provee 2 funciones para transformar String en JSON o convertir nuestros objetos en JSON</p>
						<p class="fragment">JSON.parse(string): trata de transformar un string en objeto JSON, si falla lanza excepcion</p>
						<p class="fragment">JSON.stringify(objeto): transforma un objeto en un String JSON</p>
					</section>

					<section>
						<h2>JSON.parse() | Ejemplo</h2>
						<pre><code data-trim contenteditable>
var respuestaDelServer = '{
"propiedad": "valor",
"otraPropiedad": 3
}';
var objParseado = JSON.parse(respuestaDelServer);
console.log(objParseado);
						</code></pre>

						<h2 class="fragment">JSON.stringify() | Ejemplo</h2>
						<pre><code class="fragment" code data-trim contenteditable>
//Creamos un objeto normal
var obj = {};
obj.nombre = "Dario";
obj["apellido"] = "Diaz";
var parseo = JSON.stringify(obj);
console.log(parseo);
						</code></pre>
					</section>
				</section>					
				<!-- end Fast JS: JSON -->

					<!-- Closure scopes -->
			<section>
				<section>
					<h2>Closure scopes</h2>
					<p class="fragment">Scope: ambito o contexto donde co-existen variables y metodos</p>
					<p class="fragment">Closure Scope: expresiones (normalmente funciones o metodos) que pueden acceder a otros ambitos</p>
				</section>
				<section>
					<h2>Closure scopes | Ejemplo</h2>
					<a href="ejemplos/scopes.html" target="_blank">Ejemplo</a>
				</section>
			</section>
		<!-- end Fast JS -->

		<!-- Angular -->
			<section>
				<section>
					<h2>Angular</h2>
					<ul>
						<li><a href="#/7">Expression y {{Brackets}}</a></li>
						<li><a href="#/8">Modules, services, y mas...</a></li>
						<li><a href="#/9">Scopes y scopes</a></li>
						<li><a href="#/10">MVC en angular</a></li>
						<li><a href="#/11">Angular Builts-in</a></li> <!-- Ivo -->
						<li><a href="#/12">DI y buenas practicas</a></li> <!-- Ivo -->
						<li><a href="#/13">Angular routing con ui-router</a></li> <!-- Ivo -->
						<li><a href="#/14">Estructura de carpetas</a></li> <!-- Ivo -->
					</ul>
				</section>
			</section> 

			<!-- Angular: Expression and brackets -->
                <section>
                    <section>
                        <h2>Expresiones en Angular</h2>
                    </section>
                    <!-- end Angular: Expression and brackets -->

                    <!-- end Angular -->
                </section>

                <section>
                    <h2>Angular Builts-in</h2>
                </section>
                <section>
                    <section>
                        <h2>Directivas vinculantes</h2>
                    </section>

                    <section>
                        <h2>ng-bind o {{ }}</h2>
                        <pre>
                            <code code >
$scope.todos = [ {accion:'Caminar'}, {accion:'Correr'}]

<div>Hay {{todos.length}} elementos.</div>

<div>
    Hay <span ng-bind="todos.length"></span> elementos.
</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-bind-template</h2>
                        <pre>
                            <code code >
<div ng-bind-template="Primero: {{todos[0].accion}}. Segundo: {{todos[1].accion}}">

</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-bind-html</h2>
                        <p>
                            <atrong>Peligroso!</atrong>
                            Crea una vinculación utilizando la propiedad innerHTML de un elemento HTML.
                        </p>
                        <pre>
                            <code code >
$scope.contenidoHTML = '<a href="#" class="btn btn-default">Link</a>';

<div><p ng-bind-html="contenidoHTML"></p></div>

                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-non-bindable</h2>
                        <p>Previene que AngularsJS vincule alguna expression</p>
                        <pre>
                            <code code >

<div ng-non-bindable>
    AngularJS usa {{ y }} caracteres como plantilla.
</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-model</h2>
                        <pre>
                            <code code  >

<div id="todoPanel2" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>

    <div class="well">
        <div>El primer item es: {{todos[0].accion}}</div>
    </div>
    <div class="form-group well">
        <label for="primerItem">Set First Item:</label>
        <input id="primerItem" name="primerItem" class="form-control"
               ng-model="todos[0].accion"/>
    </div>
</div>
                            </code>
                        </pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Directivas plantilla</h2>
                    </section>
                    <section>
                        <h2>ng-cloak</h2>
                        <pre>
                            <code code  >
<div class="well">
    <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
        <label ng-cloak>
            <input type="radio" ng-model="data.mode"
                   value="{{button}}" ng-checked="$first">
            {{button}}
        </label>
    </div>
</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-include</h2>
                        <p>src, onload, autoscroll</p>
                        <pre>
                            <code code >

<ng-include src="'table.html'" onload="" autoscroll=""></ng-include>

                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>ng-repeat</h2>
                        <p>$index, $first, $middle, $last, $even, $odd </p>
                        <pre>
                            <code >
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Acción</th>
        <th>Listo</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in todos">
        <td>{{$index + 1}}</td>
        <td>{{item.accion}}</td>
        <td>{{item.completo}}</td>
    </tr>
    </tbody>
</table>
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>ng-repeat-start y ng-repeat-end</h2>
                        <pre>
                            <code >
<div class="panel panel-default">
    <div class="panel-heading" ng-repeat-start="subMenu in data.menu.subMenu">
        <h3 class="panel-title">{{subMenu.titulo}}</h3>
    </div>
    <div class="list-group" ng-repeat-end>
        <a ng-repeat="item in subMenu.items" class="list-group-item">
            {{item.nombre}}</a>
    </div>
</div>
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h2>ng-switch</h2>
                        <pre>
                            <code  >
<div ng-switch on="data.mode">
    <div ng-switch-when="Table">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Done</th>
            </tr>
            </thead>
            <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
                <td>{{$index + 1}}</td>
                <td ng-repeat="prop in item">{{prop}}</td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="List">
        <ol>
            <li ng-repeat="item in todos">
                {{item.action}}<span ng-if="item.complete"> (Done)</span>
            </li>
        </ol>
    </div>
    <div ng-switch-default>
        Select another option to display a layout
    </div>
</div>
                            </code>
                        </pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Directivas en elementos (DOM)</h2>
                    </section>


                    <section>
                        <h2>ng-class y ng-style</h2>
                        <pre>
                            <code>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Action</th>
        <th>Done</th>
    </tr>
    </thead>
    <tr ng-repeat="item in todos" ng-class="active">
        <td>{{$index + 1}}</td>
        <td>{{item.action}}</td>
        <td ng-style="{'background-color': lightgreen}">
            {{item.complete}}
        </td>
    </tr>
</table>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-class-even y ng-class-odd</h2>
                        <pre>
                            <code  >
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Action</th>
        <th>Done</th>
    </tr>
    </thead>
    <tr ng-repeat="item in todos" ng-class-even="settings.Rows"
        ng-class-odd="settings.Columns">
        <td>{{$index + 1}}</td>
        <td>{{item.action}}</td>
        <td>{{item.complete}}</td>
    </tr>
</table>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-hide y ng-show</h2>
                        <pre>
                            <code  >
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Action</th>
        <th>Done</th>
    </tr>
    </thead>
    <tr ng-repeat="item in todos">
        <td>{{$index + 1}}</td>
        <td>{{item.action}}</td>
        <td>
            <span ng-hide="item.complete">(Incomplete)</span>
            <span ng-show="item.complete">(Done)</span>
        </td>
    </tr>
</table>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>ng-if</h2>
                        <pre>
                            <code  >
<td>
    <span ng-if="!item.complete">(Incomplete)</span>
    <span ng-if="item.complete">(Done)</span>
</td>
                            </code>
                        </pre>
                    </section>
                </section>

                <section>
                    <h2>Directivas para Eventos</h2>
                    <ul>
                        <li>ng-blur</li>
                        <li>ng-change</li>
                        <li>ng-click</li>
                        <li>ng-copy</li>
                        <li>ng-cut</li>
                        <li>ng-paste</li>
                        <li>ng-dblclick</li>
                        <li>ng-focus</li>
                    </ul>
                </section>
                <section>
                    <h2>Directivas para Eventos</h2>
                    <ul>
                        <li>ng-keydown</li>
                        <li>ng-keypress</li>
                        <li>ng-keyup</li>
                        <li>ng-mousedown</li>
                        <li>ng-mouseenter</li>
                        <li>ng-mouseleave</li>
                        <li>ng-mousemove</li>
                        <li>ng-mouseover</li>
                        <li>ng-mouseup</li>
                        <li>ng-submit</li>
                    </ul>
                </section>
                <section>
                    <section>
                        <h2>Directivas para Formularios</h2>
                    </section>
                    <section>
                        <p>
                            AngularJS aplica las directivas para formularios
                            automaticamente cuando encuentra elementos del tipo
                            form, input, select, y textarea.
                        </p>
                    </section>
                    <section>
                        <p>
                            Para utilizar las validaciones hace falta
                            utilizar el elemento FORM, el atributo NOVALIDATE es utilizado
                            para que los navegadores con HTML5 no realize validaciones y deje todo en manos de AngularJS
                        </p>
                        <pre>
                            <code >
<form name="myForm" novalidate ng-submit="addUser(newUser)"></form>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Monitoreo del Formulario</h2>
                        <ul>
                           <li>
                               <p><strong>$pristine</strong> true si el usuario no interactuó con el elemento/formulario</p>
                           </li>
                           <li>
                               <p><strong>$dirty</strong> true si el usuario interactuó con el elemento/formulario</p>
                           </li>
                           <li>
                               <p><strong>$valid</strong> true si el contenido del elemento/formulario es válido</p>
                           </li>
                           <li>
                               <p><strong>$invalid</strong> true si el contenido del elemento/formulario es inválido</p>
                           </li>
                           <li>
                               <p><strong>$error</strong> provee de información del error producido.</p>
                           </li>
                       </ul>
                    </section>

                    <section>
                        <pre>
                            <code>

<div>Valid: {{myForm.$valid}}</div>

<button type="submit"
        class="btn btn-primary btn-block"
        ng-disabled="myForm.$invalid">OK</button>

                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>CSS utlizado por AngularJS</h2>
                        <ul>
                            <li>
                                <p><strong>ng-pristine</strong> los elementos con los que no interactuó el usuario son añadidos a esta clase</p>
                            </li>
                            <li>
                                <p><strong> ng-dirty</strong> los elementos con los que interactuó el usuario son añadidos a esta clase</p>
                            </li>
                            <li>
                                <p><strong>ng-valid</strong> los elementos que son válidos son añadidos a esta clase</p>
                            </li>
                            <li>
                                <p><strong>ng-invalid</strong> los elementos que no son válidos son añadidos a esta clase</p>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <pre>
                            <code>
<div class="well">
    Message: {{message}}
    <div> Valid:
        <span class="summary"
              ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">{{myForm.$valid}}
        </span>
    </div>
</div>

                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Atributos de las Directivas</h2>
                        <ul>
                            <li>ng-model</li>
                            <li>ng-change</li>
                            <li>ng-minlength</li>
                            <li>ng-maxlength</li>
                            <li>ng-pattern</li>
                            <li>ng-required</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Usando elementos input </h2>
                        <ul>
                            <li>ng-model</li>
                            <li>ng-change</li>
                            <li>ng-minlength</li>
                            <li>ng-maxlength</li>
                            <li>ng-pattern</li>
                            <li>ng-required</li>
                        </ul>
                    </section>
                    <section>
                        <pre>
                            <code  >
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate>
        <div class="well">
            <div class="form-group">
                <label>Text:</label>
                <input name="sample" class="form-control" ng-model="inputValue"
                       ng-required="requireValue" ng-minlength="3"
                       ng-maxlength="10" ng-pattern="matchPattern">
            </div>
        </div>
        <div class="well">
            <p>Required Error: {{myForm.sample.$error.required}}</p>

            <p>Min Length Error: {{myForm.sample.$error.minlength}}</p>

            <p>Max Length Error: {{myForm.sample.$error.maxlength}}</p>

            <p>Pattern Error: {{myForm.sample.$error.pattern}}</p>

            <p>Element Valid: {{myForm.sample.$valid}}</p>
        </div>
    </form>
</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Usando elementos checkboxes </h2>
                        <ul>
                            <li>ng-model</li>
                            <li>ng-change</li>
                            <li>ng-true-value</li>
                            <li>ng-false-value</li>
                        </ul>
                    </section>
                    <section>
                        <pre>
                            <code  >
<div id="todoPanel1" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate>
        <div class="well">
            <div class="checkbox">
                <label>
                    <input name="sample" type="checkbox" ng-model="inputValue"
                           ng-true-value="Hurrah!" ng-false-value="Boo!">
                    This is a checkbox
                </label>
            </div>
        </div>
        <div class="well">
            <p>Model Value: {{inputValue}}</p>
        </div>
    </form>
</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Los atributos de los elementos textarea son los mismos que los del input</h2>
                        <pre>
                            <code  >
<div class="form-group">
    <textarea name="sample" cols="40" rows="3"
              ng-model="textValue"
              ng-required="requireValue" ng-minlength="3"
              ng-maxlength="10" ng-pattern="matchPattern">
    </textarea>
</div>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Usando los elementos select</h2>
                        <pre>
                            <code  >
<div class="form-group">
    <label>Select an Action:</label>
    <select ng-model="selectValue"
            ng-options="item.action for item in todos">
    </select>
</div>
                            </code>
                        </pre>
                        <p>Se puede definir que valor vincular al modelo de la siguiente manera</p>
                        <pre>
                            <code >
<select ng-model="selectValue"
        ng-options="item.id as item.action for item in todos">
    <option value="">(Pick One)</option>
</select>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Creando elementos optgroup</h2>

                        <p>se utiliza para agrupar items basados en algun atributo</p>
                        <pre>
                            <code  >
<div class="well">
    <div class="form-group">
        <label>Select an Action:</label>
        <select ng-model="selectValue"
                ng-options="item.action group by item.place for item in todos">
            <option value="">(Pick One)</option>
        </select>
    </div>
</div>
<div class="well">
    <p>Selected: {{selectValue || 'None'}}</p>
</div>
                            </code>
                        </pre>
                        <img src="images/optgroup.jpg">
                    </section>
                </section>

                <section>
                    <section>
                        <h2> Dependency Injection</h2>
                        <p>Hay 3 maneras informar que componente inyectar</p>
                    </section>
                    <section>
                        <h2>Implicitamente por el nombre de los parámetros de la función</h2>
                        <pre>
                            <code >
function MyController($scope, greeter) {
// ...
}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Usando la anotación propiedad $inject</h2>
                         <pre>
                            <code>
var MyController = function(renamed$scope, renamedGreeter) {
...
}
MyController['$inject'] = ['$scope', 'greeter'];
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Usando la anotación de array en linea</h2>

                        <p>Maneras informar que componente inyectar</p>
                         <pre>
                            <code >
someModule.factory('greeter', ['$window', function(renamed$window) {
// ...
}]);
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2> Donde se puede usar?</h2>
                    </section>
                    <section>
                        <h2>Factory Methods</h2>
                         <pre>
                            <code >
angular.module('myModule', [])
.factory('serviceId', ['depService', function(depService) {
...
}])
.directive('directiveName', ['depService', function(depService) {
...
}])
.filter('filterName', ['depService', function(depService) {
...
}]);
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Module Methods</h2>
                         <pre>
                            <code>
angular.module('myModule', [])
.config(['depProvider', function(depProvider){
...
}])
.run(['depService', function(depService) {
...
}]);
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Controllers</h2>
                         <pre>
                            <code >
someModule.controller('MyController', ['$scope', 'dep1', 'dep2', function($scope, dep1,
dep2) {
...
$scope.aMethod = function() {
...
}
...
}]);
                            </code>
                        </pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Angular UI-Router</h2>

                        <p>Provee una manera diferente de trabajar que ngRoute de AngularJS</p>
                    </section>
                    <section>
                        <h2>Estados vs Ruta URL</h2>

                        <p>
                            Con los estados las vistas no estan acopladas a una URL y permite cambiar de vistas
                            internamente sin la necesidad de cambiar la URL
                        </p>
                    </section>
                    <section>
                        <h2>Donde configurar los estados?</h2>

                        <p>$stateProvider es el encargado de proveer de los estados en la aplicación y es configurado
                            dentro del .config() del módulo</p>
                    </section>
                    <section>
                        <h2>Ejemplo</h2>
                        <pre>
                            <code >
<!-- in index.html -->
<body ng-controller="MainCtrl">
<section ui-view></section>
</body>
                            </code>
                            <code >
// in app-states.js (or whatever you want to name it)
$stateProvider.state('contacts', {
template: '<h1>My Contacts</h1>'
})
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Donde se inserta la plantilla?</h2>
                        <p>Cuando se activa un estado, la plantilla se inserta en el ui-view de su padre, si no lo tiene entonces se inserta en el index</p>
                    </section>
                    <section>
                        <h2>Activando un estado</h2>
                        <ul>
                            <li>Llamando a $state.go()</li>
                            <li>Hacer click en un link con ui-sref</li>
                            <li>Navegar la URL asociada al estado</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Configurando el template</h2>
                        <ul>
                            <li>template: html</li>
                            <li>templateUrl: page.html</li>
                            <li>templateUrl:function()</li>
                            <li>templateProvider: function()</li>
                        </ul>

                    </section>
                    <section>
                        <h2>Configurando el controllador</h2>
                        <ul>
                            <li>controller: function()</li>
                            <li>controller: 'MyCtrl'</li>
                            <li>controller: 'MyCtrl as contact'</li>
                            <li>controllerProvider: function()</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Resolve</h2>
                        <p>El controlador no se cargará hasta que no se hayan resuelto todas las dependencias</p>
                        <pre>
                            <code >
$stateProvider.state('myState', {
  controller: function(){},
  resolve:{
    objetoSimple:function(){
      return {value:'asd'};
    },
    //Retorna un promise, es lo mas utilizado
    promiseObj:  function($http){
      return $http({method: 'GET', url: '/someUrl'});
    }
  }
}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Enviando Datos (se recomienda usar el 'data')</h2>
                        <pre>
                            <code >
$stateProvider
.state(contacts)
.state('contacts.list', {
templateUrl: 'contacts.list.html',
data: {
customData1: 44,
customData2: "red"
}
})
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Eventos</h2>
                        <p>Son disparados desde $rootScope</p>
                        <ul>
                            <li>$stateChangeStart</li>
                            <li>$stateNotFound</li>
                            <li>$stateChangeSuccess</li>
                            <li>$stateChangeError</li>
                            <li>$viewContentLoading </li>
                            <li>$viewContentLoaded</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Anidación de Estados</h2>
                      <pre>
                            <code >
$stateProvider
.state('contacts', {})
.state('contacts.list', {});
                            </code>
                        </pre>
                        <p>También se puede utilizar la propiedad 'parent' para anidar</p>
                    </section>
                    <section>
                        <p>Los hijos heredan las dependencias resueltas por su padre y los datos que hayan pasado, además si las vistas están anidadas los $scope se heredarán</p>
                    </section>
                    <section>
                        <h2>Estado Abstracto</h2>
                      <pre>
                            <code >
$stateProvider
.state('contacts', {
abstract: true,
url: '/contacts',

// Note: abstract still needs a ui-view for its children to populate.
// You can simply add it inline here.
template: '<ui-view/>'
})
.state('contacts.list', {
// url will become '/contacts/list'
url: '/list'
//...more
})
.state('contacts.detail', {
// url will become '/contacts/detail'
url: '/detail',
//...more
})
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Multiples Vistas</h2>
                      <pre>
                            <code>
                                <body>
<div ui-view="filters"></div>
<div ui-view="tabledata"></div>
<div ui-view="graph"></div>
</body>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Multiples Vistas</h2>
                      <pre>
                            <code>
$stateProvider
.state('report',{
views: {
'filters': {
templateUrl: 'report-filters.html',
controller: function($scope){ ... controller stuff just for filters view ... }
},
'tabledata': {
templateUrl: 'report-table.html',
controller: function($scope){ ... controller stuff just for tabledata view ... }
},
'graph': {
templateUrl: 'report-graph.html',
controller: function($scope){ ... controller stuff just for graph view ... }
},
}
})
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Parámetros</h2>
                        <p>Se recupera el valor pasado por medio de $stateParams</p>
                        <ul>
                            <li>url: "/contacts/:contactId"</li>
                            <li>url: "/contacts/{contactId}"</li>
                            <li>url: "/contacts/{contactId:[0-9]{1,8}}"</li>
                            <li>url: "/contacts?myParam1&myParam2"</li>
                        </ul>
                        <pre>
                            <code>
$stateProvider.state('contacts.detail', {
url: '/contacts/:contactId',
controller: function($stateParams){
$stateParams.contactId
}
})
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Ruta Absoluta</h2>
                        <pre>
                            <code >
$stateProvider
.state('contacts', {
url: '/contacts',
...
})
.state('contacts.list', {
url: '^/list',
...
});
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Opciones para redireccionar</h2>
                        <ul>
                            <li>$urlRouterProvider.when('', '/index');</li>
                            <li>$urlRouterProvider.otherwise('/index');</li>
                        </ul>
                    </section>
                </section>

            </div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme,
				transition: Reveal.getQueryHash().transition || 'default',

				dependencies: [
					//{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
